@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="card text-white">
        <img src="~/Images/Banners/man-walking-dog-banner.jpg" class="card-img" alt="Man walking dog banner">
        <div class="card-img-overlay d-flex flex-column">
            <a class="btn btn-warning mt-auto mr-auto" asp-area="" asp-controller="Search" asp-action="UserSearch">Search for a carer</a>
        </div>
    </div>

    <div class="card-deck mt-3">
        <div class="card">
            <div class="embed-responsive">
                <img src="~/Images/Cards/Lady_with_dog.jpg" class="card-img-top" alt="A lady with her dog.">
            </div>
            <div class="card-body">
                <h5 class="card-title">Find the Best Carer for Your Pet</h5>
                <p class="card-text">You can find a trusted, licensed pet sitter that fits you to care for your pets in their home. We ensure all prospective carers are qualified and trustworthy before allowing them to advertise or accept pet sitting jobs within their home.</p>
            </div>
        </div>
        <div class="card">
            <div class="embed-responsive">
                <img src="~/Images/Cards/Lady_with_cat.jpg" class="card-img-top" alt="A lady with her cat">
            </div>
            <div class="card-body">
                <h5 class="card-title">Pet Sitting in Your Home</h5>
                <p class="card-text">Whether you're going away, or simply need somebody to care for your precious companion while you work. You can be sure to find somebody you can trust to care for your pet in the environment they will feel most comfortable in.</p>
            </div>
        </div>
        <div class="card">
            <div class="embed-responsive">
                <img src="~/Images/Cards/Man_with_dog.jpg" class="card-img-top" alt="A Man and his dog">
            </div>
            <div class="card-body">
                <h5 class="card-title">Dog Walking Service and Visitations</h5>
                <p class="card-text">If you’re looking for dog walking service and/or visitations you can find the best, most trustworthy carers here. You can find the best option for you, depending on whether you want a group or a solo walk.</p>
            </div>
        </div>
    </div>

    <div class="card-deck mt-3">
        <div class="card">
            <div class="card-header">
                <h5>What Services Do AnimaCare Offer?</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>Dog or Cat Boarding</h6>
                    Comfortable care in the sitters home. This is a licensed service, and as a result only proven, licensed carers may offer this service.
                </li>
                <li class="list-group-item">
                    <h6>Dog or Cat Sitting</h6>
                    Overnight care in your home.
                </li>
                <li class="list-group-item">
                    <h6>Home Visits</h6>
                    Visitations to your home to care for your pet for short periods of time.
                </li>
                <li class="list-group-item">
                    <h6>Small Pet Care</h6>
                    Care for the little guys. Flexible boarding or visitation care for small pets such as hamsters.
                </li>
                <li class="list-group-item">
                    <h6>Dog Walking</h6>
                    Fun solo or group walks, as your pet requires.
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Why Choose AnimaCare?</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h6>Trust</h6>
                    You can be sure to trust our carers with the care of your pet. All our carers are heavily scrutinised and vetted and where necessary may only offer services for which they have proven to be licensed.
                </li>
                <li class="list-group-item">
                    <h6>Transparency</h6>
                    Unlike other pet care sites, we ensure transparency by making it clear which verification processes have been completed by each user. Allowing you to make the best choice for you that you possibly can.
                </li>
                <li class="list-group-item">
                    <h6>Insurance</h6>
                    We understand that sometimes unfortunate events can occur, and thanks to our strict vetting process you can rest assured that people can be held accountable where needed. Whether this is an emergency vet bill that needs recompense or somebody refusing payment.
                </li>
            </ul>
        </div>
    </div>

</div>

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
