<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/68a91e3c-f4e2-4de6-a3f3-33013ffb0642/resourcegroups/University/providers/Microsoft.Web/sites/EIRLSS-Assignment1-J016984C-Rhys-Jones20200107093837</ResourceId>
    <ResourceGroup>University</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eirlss-assignment1-j016984c-rhys-jones20200107093837.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d8384d39-1dd6-4ef7-a743-500c0df1abdb</ProjectGuid>
    <MSDeployServiceURL>eirlss-assignment1-j016984c-rhys-jones20200107093837.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EIRLSS-Assignment1-J016984C-Rhys-Jones20200107093837</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EIRLSS-Assignment1-J016984C-Rhys-Jones20200107093837</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>