@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We here at Banger &amp; Co value our privacy! That's why we promise you that we'll never give out your personal information!</p>