@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
@if (TempData["emailconfirmed"] != null)
{
    <p>@TempData["emailconfirmed"]</p>
}

@if (TempData["emailconfirmerror"] != null)
{
    <p>@TempData["emailconfirmerror"]</p>
}
