@model AnimalCareSystem.ViewModels.UserSearchViewModel

@{
    ViewData["Title"] = "Search For Users";
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="Search" asp-action="UserSearch" id="searchResults" method="post">
    <div class="container bg-light">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="City">City</label>
                <input asp-for="City" class="form-control" id="inputCity" placeholder="London">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 float-right">Search</button>
    </div>
</form>